image: rancher/hardened-cni-plugins:{{build.tag}}
manifests:
  -
    image: rancher/hardened-cni-plugins:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-cni-plugins:{{build.tag}}-s390x
    platform:
      architecture: s390x
      os: linux
